:root {
  --raf-blue: #005eb8;
  --raf-blue-dark: #004b93;
  --raf-light-blue: #d4e8f5;
  --raf-border: #d4e2ea;

  --text: #222222;
  --text-muted: #555555;

  --black: #000000;

  --radius: 2px;
  --max-width: 1000px;

  --font: Arial, Helvetica, sans-serif;
  --font-mono: "SF Mono", Consolas, monospace;
}
